<% if flash[:success] %>
	<div class="alert alert-success"><%= flash[:success]  %></div>
<% end %>

<h1><%= @res[:ten_mon_hoc] %></h1>
<% if @res[:dang_bi_khoa] == false and is_user? %>
<form id="carform" class="form-horizontal" role="form" action="/update/<%= @ma_mon_hoc %>" method="POST" enctype="multipart/form-data" onsubmit="return postForm()">
	<div class="form-group">
		<label for="loai_mon_hoc" class="col-sm-2 control-label">Loại môn học:</label>
		<div class="col-sm-5">						
			<%= loai_mon_hoc(@loai_mon_hoc) %>			
		</div>
	</div>	
	<div class="form-group">
		<label for="de_cuong_xay_dung_theo_huong" class="col-sm-2 control-label">Đề cương xây dựng theo hướng:</label>
		<div class="col-sm-5">						
			<%= de_cuong_xay_dung_theo_huong(@de_cuong_xay_dung_theo_huong) %>			
		</div>
	</div>		
	<div class="form-group">
		<label for="tong_so_tiet" class="col-sm-2 control-label">Tổng số tiết:</label>
		<div class="col-sm-2">
			<input class="form-control" id="tong_so_tiet" type="text" name="tong_so_tiet" value="<%= @res[:tong_so_tiet] || 0 %>" />
		</div>
	</div>
	<div class="form-group">
		<label for="so_tiet_ly_thuyet" class="col-sm-2 control-label">Số tiết lý thuyết:</label>
		<div class="col-sm-2">
			<input class="form-control" id="so_tiet_ly_thuyet" type="text" name="so_tiet_ly_thuyet" value="<%= @res[:so_tiet_ly_thuyet] || 0 %>" />
		</div>
	</div>
	<div class="form-group">
		<label for="so_tiet_thuc_hanh" class="col-sm-2 control-label">Số tiết thực hành:</label>
		<div class="col-sm-2">
			<input class="form-control" id="so_tiet_thuc_hanh" type="text" name="so_tiet_thuc_hanh" value="<%= @res[:so_tiet_thuc_hanh] || 0 %>" />
		</div>
	</div>
	<div class="form-group">
		<label for="so_tiet_tu_hoc" class="col-sm-2 control-label">Số tiết tự học:</label>
		<div class="col-sm-2">
			<input class="form-control" value="<%= @res[:so_tiet_tu_hoc] || 0 %>" id="so_tiet_tu_hoc" type="text" name="so_tiet_tu_hoc" />
		</div>
	</div>
	<div class="form-group">
		<label for="so_tiet_bai_tap" class="col-sm-2 control-label">Số tiết bài tập:</label>
		<div class="col-sm-2">
			<input class="form-control" value="<%= @res[:so_tiet_bai_tap] || 0 %>" id="so_tiet_bai_tap" type="text" name="so_tiet_bai_tap" />
		</div>
	</div>
	<div class="form-group">
		<label for="so_tiet_di_thuc_te" class="col-sm-2 control-label">Số tiết đi thực tế:</label>
		<div class="col-sm-2">
			<input class="form-control" value="<%= @res[:so_tiet_di_thuc_te] || 0 %>" id="so_tiet_di_thuc_te" type="text" name="so_tiet_di_thuc_te" />
		</div>
	</div>
	<div class="form-group">
		<label for="ty_le_diem_qua_trinh" class="col-sm-2 control-label">Tỷ lệ điểm quá trình:</label>
		<div class="col-sm-2">
			<input class="form-control" id="ty_le_diem_qua_trinh" type="text" name="ty_le_diem_qua_trinh" value="<%= @res[:ty_le_diem_qua_trinh] || 0 %>" />
		</div>
	</div>
	<div class="form-group">
		<label for="hinh_thuc_thi" class="col-sm-2 control-label">Hình thức thi:</label>
		<div class="col-sm-5">						
			<%= hinh_thuc_thi(@hinh_thuc_thi) %>			
		</div>
	</div>
	<div class="form-group">
		<label for="thoi_gian_thi" class="col-sm-2 control-label">Thời gian thi:</label>	
		<div class="col-sm-2">
			<input class="form-control" id="thoi_gian_thi" type="text" name="thoi_gian_thi" value="<%= @res[:thoi_gian_thi] || 0 %>" />
		</div>
	</div>
	<div class="form-group">		
		
		<% if @mon.file? %>
			<div class="col-sm-2 offset-3">				
				<label for="file"><a target="_blank" href="/de_cuong_chi_tiet/<%= @mon.ma_mon_hoc %>.pdf">Đề cương chi tết:</a></label>
				
				<input type="submit" class="btn btn-danger" value="x" name="action" value="remove" />				
			</div>
			<iframe src="http://docs.google.com/viewer?url=http%3A%2F%2Fdecuong.hpu.edu.vn%2Fde_cuong_chi_tiet%2F<%= @mon.ma_mon_hoc %>.pdf&embedded=true" width="100%" height="780" style="border: none;"></iframe>
		<% else %>
			<label for="file">Đề cương chi tết:</label><br />
			<div class="col-sm-2">			
					<input type="file" name="file" />			
			</div>
		<% end %>
	</div>
	

	<input type="submit" value="Cập nhật" class="btn btn-primary" />
</form>
<% else %>
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr class="success">
					<td style="width:20%">Tính chất</td>
					<td style="width:80%">Giá trị</td>					
				</tr>
			</thead>
			<tbody>
				<tr><td>Mã môn học</td><td><%= @res[:ma_mon_hoc] %></td></tr>
				<tr><td>Loại môn học</td><td><%= @res[:loai_mon_hoc] %></td></tr>
				<tr><td>Đề cương xây dựng theo hướng</td><td><%= @res[:de_cuong_xay_dung_theo_huong] %></td></tr>				
				<tr><td>Tổng số tiết</td><td><%= @res[:tong_so_tiet] %></td></tr>
				<tr><td>Số tiết lý thuyết</td><td><%= @res[:so_tiet_ly_thuyet] %></td></tr>
				<tr><td>Số tiết thực hành</td><td><%= @res[:so_tiet_thuc_hanh] %></td></tr>
				<tr><td>Số tiết tự học</td><td><%= @res[:so_tiet_tu_hoc] %></td></tr>
				<tr><td>Số tiết bài tập</td><td><%= @res[:so_tiet_bai_tap] %></td></tr>
				<tr><td>Số tiết đi thực tế</td><td><%= @res[:so_tiet_di_thuc_te] %></td></tr>
				<tr><td>Tỷ lệ điểm quá trình</td><td><%= @res[:ty_le_diem_qua_trinh] %></td></tr>
				<tr><td>Hình thức thi</td><td><%= @res[:hinh_thuc_thi] %></td></tr>
				<tr><td>Thời gian thi</td><td><%= @res[:thoi_gian_thi] %></td></tr>
				<tr><td>Đề cương chi tiết</td>
					<td><% if @mon.file? %>
						<div><a href="/de_cuong_chi_tiet/<%= @mon.ma_mon_hoc %>.pdf"><%=  @mon.ma_mon_hoc %></a></div>
						<iframe src="http://docs.google.com/viewer?url=http%3A%2F%2Fdecuong.hpu.edu.vn%2Fde_cuong_chi_tiet%2F<%= @mon.ma_mon_hoc %>.pdf&embedded=true" width="100%" height="780" style="border: none;"></iframe>
						<% end %>
					</td>	
				</tr>
			</tbody>
		</table>
	</div>
<% end %>
